/*reset*/
body,div,ul,li,input,img{
	padding: 0;
	margin: 0;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.clear{
	clear: both;
}
.container{
	width: 1000px;
	margin: 0 auto;
}
.header{
	height: 50px;
	padding: 20px 0 20px 159px;
	position: relative;
}
.header input{
	width: 291px;
	height: 35px;
	border: solid 1px #c1c4cb;
	margin-top: 5px;
	margin-left: 42px;
	background-image: url(.../img/1231qqcom/search_sogou.png);
}
.search_sogou_logo{
	display: block;
	width: 90px;
	height: 37px;
	background-color: #5da4e6;
	color: white;
	text-align: center;
	margin-top: 5px;
	line-height: 37px;
	text-decoration: none;
	font-family: "微软雅黑";
}
.searchLogo{
	position: absolute;
	left: 598px;
	top: 31px;

}
.header_icon{
	height: 25px;
	padding: 12px 16px 6px 89px;
}
.header_login{
	display: block;
	width: 35px;
	height: 35px;
	background-color: #f5f5f5;
	color: #6fb2e3;
	margin-top: 5px;
	border: 1px solid #ededed;
	text-align: center;
	line-height: 35px;
	text-decoration: none;
	font-weight: bold;
	font-family: "微软雅黑";
}
